<div class="row mt-60">
    <div class="col l6 offset-l3">
        <div class="card">
            <div class="card-content white-text">
                <span class="card-title center-align">Profil</span>
                <div class="divider mt-30 mb-30"></div>
                <p class="center-align">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
                <p class="center-align">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
            </div>
            <div class="card-action">
                <div class="row">
                    <div class="col l6">
                        <a class="btn btn-large hoverable deep-orange" href="{{ path('fos_user_profile_edit') }}">
                            <i class="material-icons left">edit</i>
                            Editer
                        </a>
                    </div>
                    <div class="col l6">
                        <a class="btn btn-large hoverable red" href="{{ path('fos_user_change_password') }}">
                            Editer le mot de passe
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fos_user_user_show">

</div>
