{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'mois.index'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block body %}

    {#{% block stylesheets %}#}
        {#<link rel="stylesheet" href="">#}
    {#{% endblock %}#}

    <link rel="stylesheet" href="{{ asset('css/planning_index.css') }}">

    <div class="row mt-60">
        <div class="col s12 m10 offset-m1 l12 xl12">
            <div class="card">
                <div class="card-content white-text">
                    <div class="card-title">
                        <h1 class="center-align recette-list">{{ 'planning.my.index'|trans }}</h1>
                    </div>
                    <div class="divider mt-30 mb-50"></div>
                    {% if mois %}
                        <div id="list-planning">
                            <div class="row center-align mt-30">
                                <div class="input-field col s12 m6 l4 offset-l2 mb-30">
                                    <i class="material-icons prefix">search</i>
                                    <input id="icon_prefix" type="text" class="search"/>
                                    <label for="icon_prefix">{{ 'recette.search'|trans }}</label>
                                </div>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <div class="col s12 m6 l6 right">
                                        <a href="{{ path('mois_new') }}" class="btn-floating btn-large waves-effect waves-light deep-orange hoverable">
                                            <i class="material-icons">add</i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row mt-60">
                                <ul class="list">
                                    {% for mois in mois %}
                                        <div class="col s12 m6 l6 xl6 center-align text-black mb-15">
                                            <li>
                                                <a href="{{ path('mois_show', { 'id': mois.id }) }}" class="planning-nom">
                                                    <div class="planning">
                                                        {{ mois.nom }}
                                                    </div>
                                                </a>
                                            </li>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                            <ul class="pagination center-align mt-80"></ul>
                        </div>
                        {% else %}
                            <div class="row">
                                <div class="col s12 planning-nothing">
                                    <h3 class="center-align">
                                        {{ 'planning.nothing'|trans({}, 'FOSUserBundle') }}
                                    </h3>
                                    <p class="center-align">{{ 'planning.nothing.create'|trans({}, 'FOSUserBundle') }}</p>
                                    <div class="center-align mt-25">
                                        <a class="btn btn-large btn-floating z-depth-3 pulse orange" href="{{ path('mois_new') }}"><i class="material-icons icone-resto">date_range</i></a>
                                    </div>
                                </div>
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('node_modules/list.js/dist/list.js') }}"></script>
    <script src="{{ asset('js/paginationIndex.js') }}"></script>
{% endblock %}
