{% extends 'base.html.twig' %}

{% block title %}
    {{ 'mois.new'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/planning.css') }}">
    {% endblock %}

    <div class="section">
        <div class="row">
            <h1 id="data-max" class="center-align planning-titre">Création d'un planning</h1>
        </div>
    </div>

    <div class="divider black"></div>
    <div class="section mt-60">
        {{ form_start(form, {'action': path('mois_new'), 'method': 'POST'}) }}
        {#{{ form_start(form) }}#}
        <div class="row">
            <div class="col l12 m7">
                <div class="card z-depth-5">
                    <div class="card-image">
                        <div class="row">
                            <div class="col l12 fz-20">
                                <div class="col l5">
                                    <h5 class="left-align page-planning-titre">Planning du mois de :</h5>
                                </div>
                                <div class="col l6 mt-10">
                                    <select id="select" class="page-planning-size mt-15 ">
                                        <option value="" disabled selected>Selectionnez un mois</option>
                                        <option value="01">Janvier</option>
                                        <option value="02">Fevrier</option>
                                        <option value="03">Mars</option>
                                        <option value="04">Avril</option>
                                        <option value="05">Mai</option>
                                        <option value="06">Juin</option>
                                        <option value="07">Juillet</option>
                                        <option value="08">Aout</option>
                                        <option value="09">Septembre</option>
                                        <option value="10">Octobre</option>
                                        <option value="11">Novembre</option>
                                        <option value="12">Decembre</option>
                                    </select>
                                    {{ form_widget(form.nom, { 'id': 'form-blind', 'attr': {'class': 'hide' }}) }}
                                    {{ form_widget(form.days, { 'id': 'form-blind-days', 'attr': {'class': 'hide' }}) }}
                                    {{ form_widget(form.monthNumber, { 'id': 'form-blind-number', 'attr': {'class': 'hide' }}) }}
                                    {{ form_widget(form.year, { 'id': 'form-blind-years', 'attr': {'class': 'hide' }}) }}
                                </div>
                            </div>
                        </div>

                        {# Affichage des erreurs sur le nom du mois #}
                        {% do  form.nom.setRendered %}
                        {% if not form.nom.vars.valid %}

                            {% for error in form.nom.vars.errors %}
                                <span class="badge left-align red white-text" data-badge-caption="Erreur"></span>
                                <b class="red-text text-darken-2">{{ error.message }}</b>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="card-content">
                        <div class="row">
                            <div class="section">
                                <div class="col l12">
                                    <div class="col l12">
                                        <h5 class="page-planning-recette">Ajouter vos Recettes et choisissez leurs jours d'attribution</h5>
                                        <small id="contains" class="indication"></small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="form" class="row mt-20 mb-30">
                            <div class="recettes" data-prototype="{{ form_widget(form.plannings.vars.prototype)|e('html_attr') }}">
                                {% if form_errors(form) %}
                                    <div class="row erreur">
                                        <div class="col s12 m12">
                                            {% set err = form_errors(form) %}
                                            {% set error = err|raw %}
                                            <span class="badge left-align red white-text" data-badge-caption="Erreur"></span>
                                            <b class="red-text text-darken-2">{{ err|trim('< > l u i /') }}</b>
                                        </div>
                                    </div>
                                {% endif %}
                                {% for rec in form.plannings %}
                                    <div class="col l3 mb-15 z-depth-3 card-calendar">
                                        {#<div class="col l2 offset-l9"><a class="ml-30 mt-5 btn-floating btn-small waves-effect waves-light red clear"><i class="material-icons">clear</i></a></div>#}
                                        {{ form_row(rec.recette) }}
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button id="btn-submit" type="submit" class="btn-4"><span class="span-btn-4">Créer le planning</span></button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script async src="{{ asset('js/addRecette.js') }}"></script>
{% endblock %}
