{% extends 'base.html.twig' %}

{#{% trans_default_domain 'FOSUserBundle' %}#}

{% block title %}
    {{ 'ingredient.new'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/newIngredient.css') }}">
    {% endblock %}

    {{ form_start(form) }}
    <div class="row">
        <div class="col s6 offset-s3 m6 offset-m3 l6 offset-l3 xl6 offset-xl3">
            <div class="card">
                <div class="card-content white-text">
                    <h1 class="card-title center-align">{{ 'ingredient.creation'|trans({}, 'FOSUserBundle') }}</h1>
                    <div class="row mt-60">
                        <div class="col s12 m12 l12 xl12">
                            <div class="input-field col s12 m12 l12 xl12 fz-20">
                                <i class="material-icons prefix">create</i>
                                {{ form_widget(form.nom, {'attr': {'class': 'autocomplete'}}) }}
                                {{ form_label(form.nom) }}
                            </div>
                        </div>
                        <div class="col s12 m12 l12 xl12">
                            <div class="input-field col s12 m12 l12 xl12">
                                <i class="material-icons prefix">straighten</i>
                                {{ form_widget(form.unite, { 'attr': { 'class' : 'autocomplete' } } ) }}
                                {{ form_label(form.unite) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <div class="row">
                        <div class="col s12 m12 l12 xl12">
                            <button class="btn btn-large deep-orange hoverable" type="submit" id="_submit" name="_submit">
                                <i class="large material-icons right">check</i>
                                {{ 'create'|trans({}, 'FOSUserBundle') }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/newIngredient.js') }}"></script>
{% endblock %}
