<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">

    {% set currentPath = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}

        <div class="{% if currentPath == '/' %}row pd-30{% else %}row pd-30 bandeau z-depth-3{% endif %}">
            <div class="col l2 m2 s2">
                <a href="#" data-target="slide-out" class="sidenav-trigger btn black">
                    <i class="large material-icons" style="color:orange; font-size: 30px;">menu</i>
                </a>
            </div>
            <a href="{{ path('homepage') }}">
                <div class="col xl2 offset-xl3 l3 offset-l2 m4 offset-m2 s2 offset-s3 cadre">
                    <div class="snip1307">
                        <h1>Planning</h1>
                    </div>
                </div>
            </a>
        </div>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{{ asset('img/prism.png') }}">
                </div>
                <a href="{{ path('homepage') }}">
                    <div class="snip1306">
                        <div class="diamond"></div>
                        <div class="diamond"></div>
                        <div class="diamond"></div>
                        <h1>Planning</h1>
                        <h5>Organisation des repas</h5>
                        <h6>2019</h6>
                    </div>
                </a>
                <a href="#name">
                    <span class="white-text name"></span>
                </a>
                <a href="#email">
                    <span class="white-text email"></span>
                </a>
            </div>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="{% if currentPath == path('mois_new') %}active{% endif %}">
                <a href="{{ path('mois_new') }}"><i class="small material-icons">date_range</i> {{ 'planning.create'|trans({}, 'messages') }}</a>
            </li>
        {% endif %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="{% if currentPath == path('recette_new') %}active{% endif %}">
                <a href="{{ path('recette_new') }}"><i class="small material-icons">room_service</i> {{ 'add.recette'|trans({}, 'messages') }}</a>
            </li>
        {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
            <li class="{% if currentPath == path('ingredient_new') %}active{% endif %}">
                <a href="{{ path('ingredient_new') }}"><i class="small material-icons">restaurant_menu</i> {{ 'add.ingredient'|trans({}, 'messages') }}</a>
            </li>
        {% endif %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a class="subheader">Ressources</a>
            </li>
        {% endif %}
        <li class="{% if currentPath == path('recette_index') %}active{% endif %}">
            <a href="{{ path('recette_index') }}"><i class="small material-icons">book</i> {{ 'recette.list'|trans({}, 'messages') }}</a>
        </li>
        <li class="{% if currentPath == path('recette_my_index', {'id': app.user.id}) %}active{% endif %}">
            <a href="{{ path('recette_my_index', {'id': app.user.id}) }}"><i class="small material-icons">bookmark</i> {{ 'recette.my.list'|trans({}, 'messages') }}</a>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="{% if currentPath == path('mois_index') %}active{% endif %}">
                <a href="{{ path('mois_index') }}"><i class="small material-icons">insert_invitation</i> {{ 'planning.list'|trans({}, 'messages') }}</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li class="{% if currentPath == path('fos_user_profile_show') %}active{% endif %}">
                <a href="{{ path('fos_user_profile_show') }}">
                    <i class="small material-icons">person</i>
                    {{ app.user.username }}
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="small material-icons">exit_to_app</i>
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('fos_user_security_login') }}">
                    <i class="material-icons">input</i>
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>
        {% endif %}
    </ul>
