<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">

    {% set currentPath = path(app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')) %}

    <div class="{% if currentPath == '/' %}row{% else %}row{% endif %}">
        <div class="col l2 m2 bouton-menu">
            <a href="#" data-target="slide-out" class="sidenav-trigger btn black">
                <i class="large material-icons" style="color:orange; font-size: 30px;">menu</i>
            </a>
        </div>
        <div class="col xl2 offset-xl5 l2 offset-l5 m4 offset-m2 hide-on-med-and-down mt-5">
            <a href="{{ path('homepage') }}">
                <img class="img-responsive logo" src="{{ asset('img/logo_planning.svg') }}" alt="logo">
            </a>
            <div class="logo-shadow"></div>
        </div>
    </div>

    <ul id="slide-out" class="sidenav fixed">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="{{ asset('img/prism.png') }}">
                </div>
                <a href="{{ path('homepage') }}">
                    <img class="img-responsive logo" src="{{ asset('img/logo_planning.svg') }}" alt="">
                </a>
            </div>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="{% if currentPath == path('mois_new') %}active{% endif %}">
                <a href="{{ path('mois_new') }}"><i class="small material-icons">date_range</i> {{ 'planning.create'|trans({}, 'messages') }}</a>
            </li>
        {% endif %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="{% if currentPath == path('recette_new') %}active{% endif %}">
                <a href="{{ path('recette_new') }}"><i class="small material-icons">room_service</i> {{ 'add.recette'|trans({}, 'messages') }}</a>
            </li>
        {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a class="subheader">Administration</a>
            </li>
            <ul class="collapsible">
                <li class="{% if currentPath == path('unite_new') %}active{% endif %}">
                    <span class="collapsible-header"><i class="material-icons right">arrow_drop_down</i>{{ 'ingredient'|trans({}, 'messages') }}</span>
                    <div class="collapsible-body">
                        <span>
                            <ul>
                                <li class="center"><a href="{{ path('ingredient_new') }}"><i class="small material-icons">restaurant_menu</i> {{ 'add.ingredient'|trans({}, 'messages') }}</a></li>
                                <li class="center"><a href="{{ path('ingredient_index') }}"><i class="small material-icons">restaurant</i> {{ 'list.ingredient'|trans({}, 'messages') }}</a></li>
                            </ul>
                        </span>
                    </div>
                </li>
            </ul>
            <ul class="collapsible">
                <li class="{% if currentPath == path('unite_new') %}active{% endif %}">
                    <div class="collapsible-header"><i class="material-icons right">arrow_drop_down</i>{{ 'unit'|trans({}, 'messages') }}</div>
                    <div class="collapsible-body">
                        <span>
                            <ul>
                                <li class="center"><a href="{{ path('unite_index') }}"><i class="small material-icons">straighten</i> {{ 'list.unite'|trans({}, 'messages') }}</a></li>
                                <li class="center"><a href="{{ path('unite_new') }}"><i class="small material-icons">straighten</i> {{ 'add.unite'|trans({}, 'messages') }}</a></li>
                            </ul>
                        </span>
                    </div>
                </li>
            </ul>
        {% endif %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li>
                <div class="divider"></div>
            </li>
            <li>
                <a class="subheader">Ressources</a>
            </li>
        {% endif %}
        <li class="{% if currentPath == path('recette_index') %}active{% endif %}">
            <a href="{{ path('recette_index') }}"><i class="small material-icons">book</i> {{ 'recette.list'|trans({}, 'messages') }}</a>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            <li class="{% if currentPath == path('recette_my_index', {'id': app.user.id}) %}active{% endif %}">
                <a href="{{ path('recette_my_index', {'id': app.user.id}) }}"><i class="small material-icons">bookmark</i> {{ 'recette.my.list'|trans({}, 'messages') }}</a>
            </li>

            <li class="{% if currentPath == path('mois_index') %}active{% endif %}">
                <a href="{{ path('mois_index') }}"><i class="small material-icons">insert_invitation</i> {{ 'planning.list'|trans({}, 'messages') }}</a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li class="{% if currentPath == path('fos_user_profile_show') %}active{% endif %}">
                <a href="{{ path('fos_user_profile_show') }}">
                    <i class="small material-icons">person</i>
                    {{ app.user.username }}
                </a>
            </li>
            <li>
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="small material-icons">exit_to_app</i>
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('fos_user_security_login') }}">
                    <i class="material-icons">input</i>
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
                </a>
            </li>
        {% endif %}
    </ul>
