{% extends 'base.html.twig' %}

{% block title %}
    {{ 'default.home'|trans({}, 'FOSUserBundle') }}
{% endblock %}


{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
    {% endblock %}

    {% set recetteId = '' %}
    {% for d in plannings %}
        {% for rec in d.plannings %}
            {% if loop.index == now %}
                {% set recetteId = rec.recette.id %}
            {% endif %}
        {% endfor %}
    {% endfor %}


    <div class="accueil">
        <div class="row">
            {% if plannings %}
                {% for planning in plannings %}
                    <h1 class="center-align">Planning du mois de {{ planning.nom }}</h1>
                    <a class="col l4 offset-l4" href="{{ path('recette_show', { 'id': recetteId }) }}">
                        <time class="icon z-depth-4 hoverable">
                            {#<em></em>#}{# jour chiffre #}
                            <strong>{{ dday }} {{ now }}</strong>{# jour en lettre #}
                            {#<span>{{ now }}</span>#}
                            {% for day in planning.plannings %}
                                {% if loop.index == now %}
                                    <div>
                                        {{ day.recette.nom }}
                                    </div>
                                {% endif %}
                                {% for compo in day.recette.compositions %}
                                    {#{% dump(compo.quantite ~ ' ' ~ compo.ingredient.unite ~ ' ' ~ compo.ingredient.nom) %}#}
                                {% endfor %}
                            {% endfor %}
                        </time>
                    </a>
                {% endfor %}
            {% else %}
                <div class="title-block">
                    <h1 class="center-align">
                        Aucun Planning Créer
                    </h1>
                    <p class="center-align">Pour en créer cliquez sur le bouton ci-dessous</p>
                </div>
                <div class="center-align">
                    <a class="btn btn-large z-depth-3 pulse orange" href="{{ path('mois_new') }}"><i class="material-icons icone-resto">date_range</i></a>
                </div>
            {% endif %}
        </div>
    </div>

    <style>
        /**
 * ALL the UI design credit goes to:
 * https://www.sketchappsources.com/free-source/2676-calendar-template-sketch-freebie-resource.html
 */

        .calendar__week,
        .calendar__header {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
        }
        .calendar__week {
            grid-auto-rows: 100px;
            text-align: right;
        }

        .calendar__header {
            grid-auto-rows: 50px;
            align-items: center;
            text-align: center;
            border-bottom: 1px solid #757575;
        }

        .calendar__day {
            padding: 16px;
        }


        .calendar {
            background-color: white;
            border: 1px solid #e1e1e1;
            border-radius: 15px;
            color: #000000;
            font-family: Montserrat;
            font-weight: 100;
        }

        .calendar__header > div {
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: bold;
        }

        .calendar__day {
            border-right: 1px solid #757575;
            border-bottom: 1px solid #757575;
        }

        .calendar__day:hover {
            cursor: pointer;
        }


        .calendar__day:nth-child(7), .calendar__day:nth-child(14), .calendar__day:nth-child(21), .calendar__day:nth-child(28) {
            border-right: 0;
        }

        .before-day {
            width: 20%;
            color: #212121;
            text-align: center;
            border-radius: 50%;
        }

        .center-align {
            clear: both;
        }

        .tooltipped {
            color: #212121;
            transition: transform .2s;
        }

        .tooltipped:hover {
            transform: scale(1.2);
            background-image: linear-gradient(to right top, #e64a19, #f06a0b, #f88800, #fda500, #ffc107);
            border-radius: 10px;
            border: none;
        }
        .tooltipped:hover .before-day {
            background-color: white;
        }

        .day {
            background-image: linear-gradient(to right top, #e64a19, #f06a0b, #f88800, #fda500, #ffc107);
            width: 25%;
            margin: auto;
            text-align: center;
            border-radius: 50%;
            font-size: 25px;
            color:  #FFFFFF;
        }

        div.day-recette {
            color: #212121;
            text-transform: uppercase;
            text-align: center;
            margin-top: 10px;
        }

        .plus-de-28:nth-child(29), .plus-de-28:nth-child(30), .plus-de-28:nth-child(31) {
            border-bottom: none;
        }

        .moins-de-28:nth-child(22), .moins-de-28:nth-child(23), .moins-de-28:nth-child(24), .moins-de-28:nth-child(25), .moins-de-28:nth-child(26), .moins-de-28:nth-child(27), .moins-de-28:nth-child(28) {
            border-bottom: none;
        }

    </style>

    {% set days = '' %}
    {% for d in plannings %}
        {% set days = d.days %}
    {% endfor %}

    {% if plannings %}

        {#<div class="calendar z-depth-4 mb-60">#}
            {#<div class="calendar__header">#}
                {#{% for week in weeks %}#}
                    {#<div>{{ week }}</div>#}
                {#{% endfor %}#}
            {#</div>#}
            {#<div class="calendar__week">#}
                {#{% set plan = '' %}#}
                {#{% for planning in plannings %}#}
                    {#{% set plan = planning %}#}
                {#{% endfor %}#}

                {#{% for rec in plan.plannings %}#}
                {#{% set recette = rec.recette.nom %}#}
                {#{% set link = rec.recette.id %}#}
                    {#{% if days == 28 %}#}
                        {#<a href="{{ path('recette_show', { 'id': link }) }}" data-position="top" data-tooltip="{{ recette }}" class="tooltipped hoverable calendar__day less moins-de-28 {% if loop.index == now %}case-day{% endif %}">#}
                    {#{% elseif  days > 28 %}#}
                        {#<a href="{{ path('recette_show', { 'id': link }) }}" data-position="top" data-tooltip="{{ recette }}" class="tooltipped hoverable calendar__day plus-de-28 {% if loop.index == now %}case-day{% endif %}">#}
                    {#{% endif %}#}
                            {#<div class="right before-day z-depth-2{% if loop.index == now %} day{% endif %}">#}
                                {#{{ loop.index }}#}
                            {#</div>#}
                            {#<div class="center-align{% if loop.index == now %} day-recette{% endif %}">#}
                                {#<div>{{ recette|truncate(10) }}</div>#}
                            {#</div>#}
                            {#</a>#}
                            {#</a>#}
                {#{% endfor %}#}
            {#</div>#}
        {#</div>#}
        {% for planning in plannings %}

            <div class="fixed-action-btn toolbar direction-top">
                <a class="btn-floating btn-large deep-orange pulse">
                    <i class="large material-icons">menu</i>
                </a>
                <ul>
                    <li class="waves-effect waves-light"><a href="{{ path('mois_edit', { 'id': planning.id }) }}" class="deep-orange"><i class="material-icons">edit</i> Editer {{ planning.nom }}</a></li>
                    <li class="waves-effect waves-light"><a href="{{ path('actual_course') }}" id="BtnModalActualMonth" class="amber"><i class="material-icons">add_shopping_cart</i>Liste de course {{ planning.nom }}</a></li>
                    <li class="waves-effect waves-light"><a href="{{ path('next_course') }}" id="BtnModalNextMonth" class="red"><i class="material-icons">add_shopping_cart</i>Liste de course du mois prochain</a></li>
                </ul>
            </div>

            {# Modal du mois acutel #}
            <div id="modal1" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div class="row">
                        <a class="right modal-close waves-effect waves-green btn-floating red"><i class="material-icons">close</i></a>
                        <h4 class="center-align" id="title"></h4>
                    </div>
                    <p class="left-align" id="data"></p>
                </div>
                <div class="modal-footer">
                    <a id="downloadBtn" href="#" class="modal-close waves-effect waves-green btn"><i class="material-icons left">file_download</i>Télécharger</a>
                </div>
            </div>

            {# Modal du prochain mois#}
            <div id="modal2" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <div class="row">
                        <a class="right modal-close waves-effect waves-green btn-floating red"><i class="material-icons">close</i></a>
                        <h4 class="center-align" id="title2"></h4>
                    </div>
                    <p class="left-align" id="data2"></p>
                </div>
                <div class="modal-footer">
                    <a id="downloadBtnNext" href="#" class="modal-close waves-effect waves-green btn"><i class="material-icons left">file_download</i>Télécharger</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script async src="{{ asset('node_modules/jspdf/dist/jspdf.min.js') }}"></script>
    <script async type="text/javascript" src="{{ asset('js/accueil.js') }}"></script>
{% endblock %}
