{% extends 'base.html.twig' %}

{% block title %}
    {{ 'composition.new'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="">
    {% endblock %}

    <h1>Composition creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('composition_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
