{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'recette.index'|trans({}, 'FOSUserBundle') }}
{% endblock %}

{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/recetteIndex.css') }}">
    {% endblock %}

    {% if recettes %}

        <div class="row mt-60">
            <div class="col s12 m10 offset-m1 l12 xl12">
                <div class="card">
                    <div class="card-content white-text">
                        <div class="card-title">
                            <h1 class="center-align recette-list">{{ 'recette.index'|trans }}</h1>
                        </div>
                        <div class="divider mt-30 mb-50"></div>
                        <div id="list-recette">
                            <div class="row center-align mt-30">
                                <div class="input-field col s12 m6 l4 offset-l2 mb-30">
                                    <i class="material-icons prefix">search</i>
                                    <input id="icon_prefix" type="text" class="search"/>
                                    <label for="icon_prefix">{{ 'recette.search'|trans }}</label>
                                </div>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <div class="col s12 m6 l6 right">
                                        <a href="{{ path('recette_new') }}" class="btn-floating btn-large waves-effect waves-light deep-orange hoverable">
                                            <i class="material-icons">add</i>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row mt-60">
                                <ul class="list">
                                    {% for recette in recettes %}
                                        <div class="col s12 m6 l6 xl6 center-align text-black mb-15">
                                            <li>
                                                <a href="{{ path('recette_show', {'id': recette.id}) }}" class="recette">
                                                    <figure class="snip1585">
                                                        {% if recette.imageName != null %}
                                                            <img class="responsive-img" src="{{ asset('uploads/images/recettes/' ~ recette.imageName) }}" alt="Image de la recette {{ recette.nom }}" />
                                                            {% else %}
                                                                <img class="responsive-img" src="{{ asset('img/img_non_dispo.png') }}" alt="Image non disponible" />
                                                        {% endif %}
                                                        <figcaption>
                                                            <h3>{{ recette.nom }}</h3>
                                                        </figcaption>
                                                    </figure>
                                                </a>
                                            </li>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                            <ul class="pagination center-align mt-80"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}

        <div class="row mt-60">
            <div class="col s12 l12 center-align">
                <h1 class="recette-indisponible">{{ 'recette.none'|trans }}</h1>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <p class="para-recette-indisponible">{{ 'recette.create.that'|trans }}</p>
                    <a class="btn btn-large deep-orange pulse" href="{{ path('recette_new') }}">
                        <i class="material-icons right">add</i>
                        {{ 'recette.click'|trans }}
                    </a>
                {% endif %}

            </div>
        </div>

    {% endif %}

    <script>
        // let snippet = [].slice.call(document.querySelectorAll('.hover'));
        // if (snippet.length) {
        //     snippet.forEach(function (snippet) {
        //         snippet.addEventListener('mouseout', function (event) {
        //             if (event.target.parentNode.tagName === 'figure') {
        //                 event.target.parentNode.classList.remove('hover')
        //             } else {
        //                 event.target.parentNode.classList.remove('hover')
        //             }
        //         });
        //     });
        // }
    </script>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('node_modules/list.js/dist/list.js') }}"></script>
    <script src="{{ asset('js/paginationIndex.js') }}"></script>
{% endblock %}
