{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
    {{ 'recette.show'|trans({}, 'FOSUserBundle') }} {{ recette.nom }}
{% endblock %}

{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/recette-show.css') }}">
    {% endblock %}
    {% if app.user %}
        {% set currentUser = app.user.id %}
    {% endif %}
    {% set author = recette.user.id %}

    <div class="row">
        <div class="col s12 m12">

            {# =================================== SI L'UTILISATEUR N'EST PAS CONNECTÉ =================================== #}

            {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="card">
                <div class="card-content white-text">
                    <div class="row">
                        <div class="col s3 m3 l3">
                            <img class="responsive-img" src="https://picsum.photos/5000" alt="">
                        </div>
                        <div class="col s6 offset-s1 m6 offset-m1 l6 offset-l1 left-align">
                            <h1 class="card-title white-text">{{ recette.nom }}</h1>
                        </div>
                    </div>
                    <div class="divider mt-60"></div>
                    <div class="row mt-60">
                        <div class="col s4 m4 l4">
                            <ul class="collection fz-16 z-depth-3">
                                {% for compo in recette.compositions %}
                                    {% if compo.ingredient.unite.symbole == 'Pcs' %}
                                        <li class="collection-item center-align">{{ compo.ingredient.nom }} : {{ compo.quantite }}</li>
                                    {% else %}
                                        <li class="collection-item center-align">
                                            {{ compo.ingredient.nom }} : {{ compo.quantite }} {{ compo.ingredient.unite.symbole }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="center-align">
                                {{ 'author'|trans }} {{ recette.user.username }}
                            </div>
                        </div>
                        <div class="col s8 m8 l7">
                            <ul class="center-align">
                                {% for etape in recette.etapes %}
                                    <div class="section fz-16">
                                        <li><b><u>{{ 'etape'|trans }} {{ loop.index }}:</u></b> <br>{{ etape.description }}</li>
                                        <br>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <div class="row bouton">
                        <div class="col s4 m4 l4 xl4">
                            <a href="{{ path('recette_index') }}" class="btn btn-large deep-orange hoverable">
                                <i class="large material-icons left">chevron_left</i>
                                {{ 'recette.list.get_back'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {# =================================== SI L'UTILISATEUR EST CONNECTÉ =================================== #}

            {% else %}

                <div class="card">
                    <div class="card-content white-text">
                        <div class="row">
                            <div class="col s3 m3 l3">
                                <img class="responsive-img" src="https://picsum.photos/5000" alt="">
                            </div>
                            {% if currentUser == author %}
                            <div class="col s6 m6 l6 center-align">
                                <h1 class="card-title white-text">{{ recette.nom }}</h1>
                            </div>
                            <div class="col s3 m3 l3">
                                <a href="{{ path('recette_edit', {'id': recette.id}) }}" class="btn btn-large btn-floating deep-orange right">
                                    <i class="material-icons">edit</i>
                                </a>
                            </div>

                            {% else %}

                            <div class="col s6 offset-s1 m6 offset-m1 l6 offset-l1 left-align">
                            <h1 class="card-title white-text">{{ recette.nom }}</h1>
                            </div>
                            {% endif %}
                        </div>
                        <div class="divider mt-60"></div>
                        <div class="row mt-60">
                            <div class="col s4 m4 l4">
                                <ul class="collection fz-16 z-depth-3">
                                    {% for compo in recette.compositions %}
                                        {% if compo.ingredient.unite.symbole == 'Pcs' %}
                                            <li class="collection-item center-align">{{ compo.ingredient.nom }} : {{ compo.quantite }}</li>
                                        {% else %}
                                            <li class="collection-item center-align">
                                                {{ compo.ingredient.nom }} : {{ compo.quantite }} {{ compo.ingredient.unite.symbole }}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="center-align">
                                    {{ 'author'|trans }} {{ recette.user.username }}
                                </div>
                            </div>
                            <div class="col s8 m8 l7">
                                <ul class="center-align">
                                    {% for etape in recette.etapes %}
                                        <div class="section fz-16">
                                            <li><b><u>{{ 'etape'|trans }} {{ loop.index }}:</u></b> <br>{{ etape.description }}</li>
                                            <br>
                                        </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="row bouton">
                            {% if currentUser == author %}
                            <div class="col s4 m4 l4 xl4">
                                <a href="{{ path('recette_index') }}" class="btn btn-large deep-orange hoverable">
                                    <i class="large material-icons left">chevron_left</i>
                                    {{ 'recette.list.get_back'|trans }}
                                </a>
                            </div>
                            <div class="col s4 m4 l4 xl4">
                                <a href="{{ path('recette_new') }}" class="btn btn-large deep-orange hoverable">
                                    <i class="large material-icons right">check</i>
                                    {{ 'create'|trans }}
                                </a>
                            </div>
                            {{ form_start(delete_form) }}
                            <div class="col s4 m4 l4 xl4">
                                <button class="btn btn-large deep-orange hoverable" type="submit" id="_submit" name="_submit">
                                    <i class="large material-icons right">delete</i>
                                    {{ 'delete'|trans }}
                                </button>
                            </div>
                            {{ form_end(delete_form) }}
                            {% else %}
                            <div class="col s6 m6 l6 xl6">
                                <a href="{{ path('recette_index') }}" class="btn btn-large deep-orange hoverable">
                                    <i class="large material-icons left">chevron_left</i>
                                    {{ 'recette.list.get_back'|trans }}
                                </a>
                            </div>
                            <div class="col s6 m6 l6 xl6">
                                <a href="{{ path('recette_new') }}" class="btn btn-large deep-orange hoverable">
                                    <i class="large material-icons right">check</i>
                                    {{ 'create'|trans }}
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
